matplotlib
pandas
numpy==1.26.4
plotly
wordcloud
nltk
textblob
openai
pytrends
urllib3==1.26.19
prophet
statsmodels
cmdstanpy==1.1.0
dash
dash_bootstrap_components
openpyxl
gunicorn
beautifulsoup4
requests
