:root {
    --primary-color: #0077B5;
    --secondary-color: #00A0DC;
    --background-color: #F3F6F8;
    --text-color: #283E4A;
    --accent-color: #7FC15E;
    --negative-color: #E15554;
    --card-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

.dashboard-container {
    padding: 20px;
    max-width: 1400px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .dashboard-title {
        font-size: 2rem;
    }
    
    .metric-card {
        margin-bottom: 20px;
    }
}

.app-logo {
    max-width: 100px;
}

.dashboard-title {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--primary-color);
}

.date-range-row {
    margin-bottom: 30px;
}

.date-label {
    font-weight: 600;
    margin-bottom: 10px;
}

.section-title {
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 20px;
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 10px;
}

.metric-card {
    padding: 20px;
    text-align: center;
    box-shadow: var(--card-shadow);
    border: none;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: white;
    height: 150px; /* Set a fixed height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.metric-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.metric-title {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.metric-value {
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary-color);
}

.percentage-change {
    font-size: 0.9rem;
    font-weight: 600;
    margin-top: 5px;
}

.percentage-change-positive {
    color: #7FC15E;
}

.percentage-change-negative {
    color: #E15554;
}

.audience-dropdown, .variable-dropdown, .posts-dropdown {
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease;
}

.audience-dropdown:hover, .variable-dropdown:hover, .posts-dropdown:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.top-posts-table {
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.top-posts-table th {
    background-color: #0077B5;
    color: white;
}

.top-posts-table td {
    vertical-align: middle;
}

.top-posts-table {
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.top-posts-table thead {
    background-color: #0077B5;
    color: white;
}

.top-posts-table th,
.top-posts-table td {
    text-align: left;
    padding: 12px;
}

.top-posts-table img {
    max-width: 100px;
    height: auto;
}

.top-posts-table tr:hover {
    background-color: #f5f5f5;
}
